---
import { Image } from "@astrojs/image/components";
import Button from "../../components/Button.astro";
import ProjectDetail from "../../blocks/ProjectDetail.astro";
import P from "../../components/P.astro";
import Footer from "../../blocks/Footer.astro";
import Layout from "../../layouts/Layout.astro";
import Contact from "../../blocks/Contact.astro";

export async function getStaticPaths() {
	const pages = [
		{
			slug: "inclusionweb",
			title: "Inclusionweb",
			categories: "UI Design, Webdevelopment",
			year: "23",
			banner: "/images/inclusionweb-1.png",
			websiteUrl: "https://inclusionweb-s128.vercel.app/login",
			body: "For my final graduation project, I developed a new version of the Inclusion Web in collaboration with Odisee University College and Resokit. The Inclusion Web is an online tool that allows you to map the social network of individuals in a secure, accessible, and intuitive manner. It provides a visual representation of someone's social network across various domains of life at a glance.",
			info: [
				{
					title: "Client",
					description: "Resokit & Odisee University College",
				},
				{
					title: "Stack",
					description: "Next.js, TailwindCSS, Supabase",
				},
				{
					title: "Date",
					description: "June 23",
				},
			],
			images: [
				{
					src: "/images/inclusionweb-3.png",
					alt: "Inclusionweb",
				},
				{
					src: "/images/inclusionweb-2.png",
					alt: "Inclusionweb",
				},
				{
					src: "/images/inclusionweb-4.png",
					alt: "Inclusionweb",
				},
			],
		},
		{
			slug: "de-lariks",
			title: "De Lariks",
			categories: "Graphic Design, UI Design, Webdevelopment",
			year: "22",
			banner: "/images/de-lariks-2.png",
			websiteUrl: "https://de-lariks.be/",
			body: "I have designed and built a new website for De Lariks, a social organization that offers support to individuals who, due to mental health issues, are currently unable to live independently or can no longer do so, without requiring permanent admission to a psychiatric facility.",
			info: [
				{
					title: "Client",
					description: "De Lariks",
				},
				{
					title: "Stack",
					description: "Eleventy",
				},
				{
					title: "Date",
					description: "October 23",
				},
			],
			images: [
				{
					src: "/images/de-lariks-1.png",
					alt: "Inclusionweb",
				},
				{
					src: "/images/de-lariks-2.png",
					alt: "Inclusionweb",
				},
				{
					src: "/images/de-lariks-3.png",
					alt: "Inclusionweb",
				},
				{
					src: "/images/test-image.jpg",
					alt: "Inclusionweb",
				},
			],
		},
		{
			slug: "food-kiosk",
			title: "Food Kiosk",
			categories: "Graphic Design, UI Design, Webdevelopment",
			year: "22",
			banner: "/images/food-kiosk-3.png",
			body: "I created a fictional sushi food self-order kiosk application for my Interactive Visual Media Course. This user-friendly app offers a virtual menu, immersive visuals, and convenient ordering options for sushi enthusiasts to explore and place their orders.",
			info: [
				{
					title: "Client",
					description: "Artevelde University of Applied Sciences",
				},
				{
					title: "Stack",
					description: "React.js, Styled Components",
				},
				{
					title: "Date",
					description: "September 22",
				},
			],

			videos: [
				{
					src: "/videos/sushi.mp4",
					alt: "Inclusionweb",
				},
			],
		},
	];

	return pages.map(
		({ slug, title, categories, year, banner, websiteUrl, body, info, images, videos }) => {
			return {
				params: { slug },
				props: { slug, title, categories, year, banner, websiteUrl, body, info, images, videos },
			};
		}
	);
}

const { slug, title, categories, year, banner, websiteUrl, body, info, images, videos } =
	Astro.props;

const projects = [
	{
		slug: "inclusionweb",
		title: "Inclusionweb",
	},
	{
		slug: "de-lariks",
		title: "De Lariks",
	},
	{
		slug: "food-kiosk",
		title: "Food Kiosk",
	},
];

const i = projects.findIndex((project) => project.slug === slug);
const nextProject = projects[(i + 1) % projects.length];
---

<Layout title="Project | Arnaud De Burchgraeve">
	<main>
		<section class="project__top invisible">
			<div class="layout-wrapper pt-16">
				<a class="block" href="/">
					<svg class="w-12 pl-2 hover:fill-red md:w-14" viewBox="0 0 730 395"
						><path d="M209,383l-11,12L0,197,198,0l11,12L32,189H730v17H32Z" fill-rule="evenodd"
						></path></svg
					>
				</a>
				<div class="relative my-12 flex flex-col justify-between md:my-16">
					<div class="flex flex-col gap-3 md:flex-row md:items-center md:justify-between">
						<span
							class="title mask-container order-1 font-serif text-[14vw] uppercase sm:text-6xl md:-order-1 lg:text-7xl xl:text-8xl"
							>{title}</span
						>
						<span class="text-4xl opacity-20 xl:text-5xl">/{year}</span>
					</div>
					<P size="sm">{categories}</P>
				</div>
			</div>
			<Image
				src={banner}
				alt={title}
				class="h-[20rem] w-screen object-cover md:h-[25rem] xl:h-[30rem] 2xl:h-[60vh]"
				width={1920}
				height={1080}
			/>
			<div class="project__details layout-wrapper my-20">
				<P size="lg" className="md:w-2/3 lg:w-1/2 mb-10">
					{body}
				</P>
				<div class="mb-16">
					{
						info.map((item: any) => (
							<ProjectDetail title={item.title} description={item.description} />
						))
					}
				</div>
				<Button label="Visit Website" href={websiteUrl} />
			</div>
		</section>

		<div class="project__images layout-wrapper my-28">
			{
				images?.map((item: any) => (
					<Image
						src={item.src}
						alt={item.alt}
						class="my-4 h-[20rem] max-h-[60rem] w-full rounded-lg object-cover md:my-6 md:h-[25rem] xl:my-8 xl:h-[30rem] 2xl:h-[50vh]"
						width={1920}
						height={1080}
					/>
				))
			}
			{
				videos?.map((item: any) => (
					<video controls>
						<source src={item.src} type="video/mp4" />
					</video>
				))
			}

			<div class="my-12 flex items-end justify-between">
				<div class="flex flex-col px-0">
					<P size="sm">Next Project</P>
					<a
						href={nextProject?.slug}
						class="font-serif text-4xl uppercase transition-colors hover:text-red"
						>{nextProject?.title}</a
					>
				</div>
				<button
					class="scrollToTop relative h-12 w-12 rotate-90 rounded-full border-[1px] border-black transition-colors hover:border-none hover:bg-red hover:fill-white">
					<svg class="absolute-center" width="22.52" height="27.261" viewBox="0 0 471 464"
						><path d="M37,242H471V222H37L246,14,232,0,0,232,232,464l14-14Z" fill-rule="evenodd"
						></path></svg
					>
				</button>
			</div>
		</div>
		<Contact />
		<Footer />
	</main>
</Layout>

<script src="../../scripts/animations/project.js"></script>
